.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

/*  =======================CTA ======================= */
.cta {
  margin-top: 2.5rem;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

/*  =======================Socials======================= */
.header__socials {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials > * {
  font-size: 1.3rem;
}

.header__socials::after {
  content: "";
  width: 1px;
  height: 2rem;
  background: var(--color-primary);
}

/*  =======================Me ======================= */
.me {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
}

.scroll__down {
  position: absolute;
  bottom: 5rem;
  right: -2.3rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .header__socials,
  .scroll__down {
    display: none;
  }
}
