.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__container > div {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}
.experience__container > div:hover {
  background: transparent;

  border-color: var(--color-primary);
}
.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.experience__details {
  display: flex;
  text-align: center;
  gap: 0.4rem;
}
.experience__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

.experience__card {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  justify-content: center;
  flex-direction: column;
}
.experience__card .card__icon {
  font-size: 2.7rem;
  color: var(--color-primary);
}

/*  =================MEDIA QUERIES =================== */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }
  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }
  .experience__container > div {
    width: 95%;
    padding: 2rem 1rem;
  }
}
